{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Galeria{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'gallery/styles.css' %}">
</head>
<body>
    <header class="topbar">
        <a class="brand-logo" href="{% url 'gallery:home' %}" aria-label="Go to home">
            <span class="logo-mark"></span>
        </a>
        <form method="get" action="{% url 'gallery:home' %}" class="search-wrap search-right">
            {% for tag_id in selected_tag_ids %}<input type="hidden" name="tags" value="{{ tag_id }}">{% endfor %}
            <input name="q" type="text" value="{{ query|default:'' }}" placeholder="search">
            <button type="submit" class="search-submit">Search</button>
        </form>
    </header>
    {% block content %}{% endblock %}
    <a class="global-upload-btn" href="{% url 'gallery:upload' %}">+ Upload Image</a>
    <script src="{% static 'gallery/tags.js' %}"></script>
    <script src="{% static 'gallery/gallery.js' %}"></script>
</body>
</html>
